<section class="main">

  <p id="notice"><%= notice %></p>

  <p>
    <strong>Title:</strong>
    <%= @social_account.title %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= @social_account.body %>
  </p>

  <p>
    <strong>Login:</strong>
    <%= @social_account.login %>
  </p>

  <%= link_to 'Edit', edit_social_account_path(@social_account) %> |
  <%= link_to 'Back', social_accounts_path %>

</section>
