
<section class="main">

  <p id="notice"><%= notice %></p>
  <h1 class="section_header">Наставления</h1>

  <section class="cards_area">
    <% @instructions.each do |instruction| %>
      <div class="card">
        <div class="previev"></div>
        <div class="card_title">
          <h3><%= instruction.title %></h3>
        </div>
        <%#= link_to 'Открыть', instruction %>
        <div class="edit">
          <%= link_to '', edit_instruction_path(instruction) %>
        </div>
        <div class="delete">
          <%= link_to '', instruction, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      </div>
    <% end %>

    <div class="card">
      <div class="card_new">
        <%= link_to '', new_instruction_path %>
      </div>
      <div class="add">
      </div>
    </div>
  </section>
</section>
