
<section class="main">

  <p id="notice"><%= notice %></p>
    <h1>Наставления</h1>

    <section class="cards_area">


          <!-- <thead>
            <tr>
              <th></th>
              <th></th>
              <th colspan="3"></th>
            </tr>
          </thead> -->


          <tbody>
            <% @instructions.each do |instruction| %>


            <div class="card">

                <div class="card_title">
                  <h2><%= instruction.title %></h2>
                </div>

                <div class="action_area">
                  <td><%= link_to 'Открыть', instruction %></td>
                  <td><%= link_to 'Изменить', edit_instruction_path(instruction) %></td>
                  <td><%= link_to 'Удалить', instruction, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                </div>

            </div>

            <% end %>
          </tbody>

      <br>

                <div class="card">
                  <div class="card_new">
                    <%= link_to 'Новый документ', new_instruction_path %>
                  </div>
                </div>

    </section>

</section>
