
<section class="main">

  <p id="notice"><%= notice %></p>

  <h1>
    <strong></strong>
    <%= @instruction.title %>
  </h1>

  <p class="doc_show">
    <strong></strong>
    <%= @instruction.body %>
  </p>

  <%= link_to 'Изменить', edit_instruction_path(@instruction) %> |
  <%= link_to 'Назад', instructions_path %>

</section>
