<div class="flex-container">
  <div class="doc">

<header> <h1>Документы</h1> </header>
<%= form_with(model: document, local: true) do |form| %>
  <% if document.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(document.errors.count, "error") %> prohibited this document from being saved:</h2>

      <ul>
      <% document.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
<% end %>

<section class="document_area">

  <div class="body">
    <%= form.text_area :attr, placeholder: "Напишите комментарий..." %>
  </div>

  <label class="custom-file-upload">
    <%= form.file_field :cover %>
  </label>

  <div class="title">
    <h2>Получатели</h2>
    <%= form.text_field :attr, placeholder: "Перетащите из списка" %>
  </div>

  <div class="actions">
    <%= form.submit 'Сохранить' %>
  </div>
<% end %>

</div>
  </div>
    </section>
