<div class="container">
  <div class="sub">
    <header><h1>Подписки</h1></header>

<%= form_with(model: subscription, local: true) do |form| %>
  <% if subscription.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(subscription.errors.count, "error") %> prohibited this subscription from being saved:</h2>

      <ul>
      <% subscription.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h2>Введите URL</h2>
  <%= form.text_field :attr, placeholder: "www.site.ru" %>
  </div>

  <div class="login">
  <h2>Введите данные</h2>
  <%= form.text_field :attr, placeholder: "Логин" %>
  </div>

  <div class="password">
  <%= form.text_field :attr, placeholder: "Пароль" %>
  </div>

  <div class="body">
  <h2>Добавьте комментарий</h2>
  <%= form.text_area :attr, placeholder: "Напишите..." %>
  </div>

  <div class="actions">
  <h2>Выберите получателя</h2>
  <%= form.text_field :attr, placeholder: "Перетащите из списка" %>
  </div>

  <div class="actions">
  <%= form.submit 'Сохранить' %>
  </div>
  <% end %>

</div>
  </div>
