<section class="main">

  <p id="notice"><%= notice %></p>
  <h1 class="section_header">Подписки</h1>

  <section class="cards_area">
    <% @subscriptions.each do |subscription| %>
      <div class="card">
        <div class="previev"></div>
        <div class="card_title">
          <h3><%= subscription.title %></h3>
        </div>
        <%#= link_to 'Открыть', subscription %>
        <div class="edit">
          <%= link_to '', edit_subscription_path(subscription) %>
        </div>
        <div class="delete">
          <%= link_to '', subscription, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      </div>
    <% end %>

    <div class="card">
      <div class="card_new">
        <%= link_to '', new_subscription_path %>
      </div>
      <div class="add">
      </div>
    </div>
  </section>
</section>
