<!DOCTYPE html>
<html>
  <head>
    <title>LastWill</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
     <link href="http://allfont.ru/allfont.css?fonts=pragmatica-cyrillic" rel="stylesheet" type="text/css" />
     <link href="https://nomail.com.ua/font-page/5990?name=PragmaticaLightC" rel="stylesheet" type="text/css" />
  </head>

  <body>

 <section class="nav">
   <h1 class="logo">Meta</h1>
   <ul class="sidebar">
  <h1>Передаю</h1>
    <li><%#= link_to 'Документы', documents_path %></li>
    <li><%#= link_to 'Аккаунты', social_accounts_path %></li>
    <li><%#= link_to 'Наставления', instructions_path %></li>
    <li><%#= link_to 'Подписки', subscriptions_path %></li>
    <li><%#= link_to 'Кошельки', wallets_path %></li>

    <li><a href="#s1">Документы</a></li>
    <li><a href="#s2">Аккаунты</a></li>
    <li><a href="#s3">Наставления</a></li>
    <li><a href="#s4">Подписки</a></li>
    <li><a href="#s5">Кошельки</a></li>

  </ul>
</section>

<section class="add_receiver">
  <ul class="receivers">
 <h3>Получатели</h3>
   <li>User@gmail.com  x</li>
   <li>User@gmail.com  x</li>
   <li>+Получатель</li>
 </ul>
</section>

    <%= yield %>

  </body>
</html>
