<!DOCTYPE html>
<html>
  <head>
    <title>LastWill</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

 <section class="nav">
   <h1 class="logo">Meta</h1>
   <ul class="menu">
  <h1>Передаю</h1>
    <li><%= link_to 'Документы', documents_path %></li>
    <li><%= link_to 'Аккаунты', social_accounts_path %></li>
    <li><%= link_to 'Наставления', instructions_path %></li>
    <li><%= link_to 'Подписки', subscriptions_path %></li>
    <li><%= link_to 'Кошельки', wallets_path %></li>
  </ul>
</section>

<section class="add_receiver">
  <ul class="receivers">
 <h3>Получатели</h3>
   <li>User@gmail.com  x</li>
   <li>User@gmail.com  x</li>
   <li>+Получатель</li>
 </ul>
</section>

    <%= yield %>
  </body>
</html>
